True and False are the two boolean operators. It beginning letter should be upper case.

    and,or and not are 3 diff boolean operators.

In [ ]:
 truth table of 'AND' operator
        RESULT
    T T T
    F F T
    T F F
    F T T
    
 truth table of 'OR'  operator
        RESULT
    T T T
    T F T
    F T T
    F F F
    
    
 truth table of 'not' operator
      RESULT
    T F
    F T

In [1]:
(5 > 4) and (3 == 5)

False

In [2]:
not (5 and 4)

False

In [3]:
(5 and 4) or (3 == 5)

4

In [4]:
not ((5 and 4) or (3 == 5))

False

In [5]:
(True and True) and (True == False)

False

In [6]:
(not False) or (not True)

True

the six comparision operators are <,<=,>,>=,!,==

In [ ]:
equal to(==) is used to check any equality condition ex: if 5==6
assignment (=) is used to assign any value ex : n=5, x= 'robert'

In [ ]:
if ,if ,else are the 3 blocks.

In [7]:
spam = 4
if spam == 1:
    print('Hello')
if spam == 2:
    print('Howdy')
else:
    print('Greetings!')

Greetings!

In [ ]:
ctrl + c is used to interrupt the infinite loop

break command will abruptly stop the loop . Continue command will allow the loop to continue the execution.

In range (10),range(0,10),range(0,10,1) .
All of them will generate sequence of numbers from 0 to 9. 
range(10) will take the starting value by default as 0
range(0,10) here the starting and ending value is specified. upper limit will be excluded.
range(0,10,1) the third parameter is the step size which is 1 so there won't be any numbers skipped in the sequence.

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
i=1
while(i<11):
    print(i)
    i=i+1

In [ ]:
i = 1
while(i<=10):
    print(i)
    i += 1

In [ ]:
spam.bacon()