In [3]:
import pandas as pd

In [9]:
df=pd.read_csv(r'D:\agentdataset.csv')

In [10]:
df.columns=df.iloc[0]

In [11]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
1,1,30-07-2022,Prerna Singh,11,00:00:38,00:04:20,4.11,9
2,2,30-07-2022,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
3,3,30-07-2022,Ameya Jain,14,00:00:30,00:11:36,4.55,11
4,4,30-07-2022,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7

In [12]:
df=df[1:]

In [32]:
len(df)

2160

In [14]:
df.dtypes

0
SL No                      object
Date                       object
Agent Name                 object
Total Chats                object
Average Response Time      object
Average Resolution Time    object
Average Rating             object
Total Feedback             object
dtype: object

In [22]:
import datetime as dt
df['Date']=pd.to_datetime(df['Date'],infer_datetime_format=True)

In [30]:
df['dayname']=df['Date'].dt.dayofweek

In [31]:
# data frame containing only the weekdays
df1=df[(df['dayname'] !=5) & (df['dayname'] !=6)]

In [33]:
len(df1)

1656

In [36]:
df1['week']=df1['Date'].dt.isocalendar().week

C:\Users\harz1\AppData\Local\Temp\ipykernel_14984\4248073203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['week']=df1['Date'].dt.isocalendar().week

In [38]:

df1['Average Rating']=df1['Average Rating'].astype('float')

C:\Users\harz1\AppData\Local\Temp\ipykernel_14984\3813021143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Average Rating']=df1['Average Rating'].astype('float')

In [39]:
df1.dtypes

0
SL No                              object
Date                       datetime64[ns]
Agent Name                         object
Total Chats                        object
Average Response Time              object
Average Resolution Time            object
Average Rating                    float64
Total Feedback                     object
dayname                             int64
week                               UInt32
dtype: object

In [40]:
# Question1:avarage rating on weekly basis
a=df1.groupby(['Agent Name','week'])['Average Rating'].mean()
a

Agent Name  week
Abhishek    1       0.000
            6       0.000
            10      0.000
            14      0.000
            23      0.000
                    ...
Zeeshan     30      3.312
            36      0.000
            40      0.000
            45      4.330
            49      3.750
Name: Average Rating, Length: 910, dtype: float64

In [ ]:
df1.dtypes

In [41]:
# question2Total working days for each agents 
b=df1.groupby('Agent Name')['Date'].count()
print(b)

Agent Name
Abhishek         23
Aditya           23
Aditya Shinde    23
Aditya_iot       23
Amersh           23
                 ..
Uday Mishra      23
Vasanth P        23
Vivek            23
Wasim            23
Zeeshan          23
Name: Date, Length: 70, dtype: int64

In [43]:
df1['Total Chats']=df1['Total Chats'].astype('int')

C:\Users\harz1\AppData\Local\Temp\ipykernel_14984\1848703179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Total Chats']=df1['Total Chats'].astype('int').copy()

In [ ]:
df1.dtypes

In [44]:
#QUESTION 3 :Total query that you hvae taken 
c=df1.groupby('Agent Name')['Total Chats'].agg(['sum','count'])
print(c)

               sum  count
Agent Name
Abhishek         0     23
Aditya           0     23
Aditya Shinde  221     23
Aditya_iot     225     23
Amersh           0     23
...            ...    ...
Uday Mishra      0     23
Vasanth P        0     23
Vivek           30     23
Wasim          366     23
Zeeshan        410     23

[70 rows x 2 columns]

In [45]:
df['Total Feedback']=df['Total Feedback'].astype('int')

In [63]:
#QUESTION 4:total Feedback that you have received 
d=df.groupby('Agent Name')['Total Feedback'].sum()
print(d)

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int32

In [55]:
#QUESTION 5. a agent name who have average rating between 3.5 to 4 

e=df.loc[(df['Average Rating'] >= 3.5) & (df['Average Rating'] <= 5)]
e[['Agent Name','Average Rating']]

0             Agent Name  Average Rating
1           Prerna Singh            4.11
3             Ameya Jain            4.55
4          Mahesh Sarade            4.71
5                 Swati             3.67
6                Mukesh             4.62
...                  ...             ...
2101      Shubham Sharma            5.00
2102       Jaydeep Dixit            4.77
2103  Shivananda Sonwane            4.86
2104      Khushboo Priya            4.61
2105     Hrisikesh Neogi            4.56

[686 rows x 2 columns]

In [52]:
df['Average Rating'] = df['Average Rating'].astype('float')

In [56]:
#QUESTION:6.Agent name who have rating lesss then 3.5 
d=df.loc[(df['Average Rating']<3.5)]
d[['Agent Name','Average Rating']]

0             Agent Name  Average Rating
2          Nandani Gupta            3.14
20      Hitesh Choudhary            0.00
21            Sanjeevan             0.00
22              Anirudh             0.00
23      Shiva Srivastava            0.00
...                  ...             ...
2156   Sowmiya Sivakumar            0.00
2157             Nitin M            0.00
2158              Vivek             0.00
2159       Ayushi Mishra            0.00
2160  Chaitra K Hiremath            0.00

[1474 rows x 2 columns]

In [57]:
#7 QUESTION:agent name who have rating more then 4.5 
e=df.loc[(df['Average Rating']>4.5)]
e[['Agent Name','Average Rating']]

0             Agent Name  Average Rating
3             Ameya Jain            4.55
4          Mahesh Sarade            4.71
6                Mukesh             4.62
7        Saikumarreddy N            5.00
8          Sanjeev Kumar            5.00
...                  ...             ...
2101      Shubham Sharma            5.00
2102       Jaydeep Dixit            4.77
2103  Shivananda Sonwane            4.86
2104      Khushboo Priya            4.61
2105     Hrisikesh Neogi            4.56

[307 rows x 2 columns]

In [61]:
#8.QUESTION :8 . how many feedaback agents have received more then 4.5 average
df[df['Average Rating']>4.5]['Total Feedback'].sum()

3489

In [59]:
#9 QUESTION: . average weekly response time for each agent
df['Average Response Time']

1       00:00:38
2       00:01:15
3       00:00:30
4       00:01:04
5       00:01:11
          ...
2156    00:00:00
2157    00:00:00
2158    00:00:00
2159    00:00:00
2160    00:00:00
Name: Average Response Time, Length: 2160, dtype: object

In [65]:
#10 . average weekely resolution time for each agents 
df1['Average Response Time'] = pd.to_datetime(df1['Average Response Time'], infer_datetime_format=True)
df1.groupby('week')['Average Response Time'].mean()

C:\Users\harz1\AppData\Local\Temp\ipykernel_14984\3261467414.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Average Response Time'] = pd.to_datetime(df1['Average Response Time'], infer_datetime_format=True)

week
1    2022-08-05 00:00:20.944444416
6    2022-08-05 00:00:17.847222272
10   2022-08-05 00:00:17.013888768
14   2022-08-05 00:00:16.888888832
23   2022-08-05 00:00:45.513888768
27   2022-08-05 00:00:23.638888960
28   2022-08-05 00:00:25.819444480
29   2022-08-05 00:00:25.524999936
30   2022-08-05 00:00:26.400000256
36   2022-08-05 00:00:23.097222144
40   2022-08-05 00:00:17.666666752
45   2022-08-05 00:00:21.972222208
49   2022-08-05 00:00:26.569444352
Name: Average Response Time, dtype: datetime64[ns]

In [66]:
#11QUESTION . list of all agents name 
df['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

In [67]:
#12 . percentage of chat on which they have received a feedback 


df['per']=(df['Total Feedback']/df['Total Feedback'].sum())*100
df['per']

1       0.097203
2       0.075602
3       0.118803
4       0.075602
5       0.064802
          ...
2156    0.000000
2157    0.000000
2158    0.000000
2159    0.000000
2160    0.000000
Name: per, Length: 2160, dtype: float64

In [ ]:
#13 QUESTION: Total contributation hour for each and every agents weekly basis

In [ ]:
#14.QUESTION: total percentage of active hour for a month